# Text
*.swp
tags

# SW
wifi_config.h

# KiCad Project Files to Ignore
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
.#*
*~_autosave-*
*.tmp
*.000
*.erc
*.net
*-rescue.lib
fp-info-cache
*.kicad_prl
*.zip
fp-lib-table

# FreeCAD Project Files to Ignore
*.FCStd.lock
*.stl
*.FCBak
test/
eez-ui/
